.swipper{
  font-size: 2rem;
  width: 86vw;
  height: 420px;
  border-radius: 20px;
  margin: 30px auto;

  .swiperSlide{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

  } 

  .swiper-pagination-bullet{
    background-color: white;
    height: 15px;
    width: 15px;
  }

  .swiper-pagination-bullet-active{
    background-color: #FFBA08;
  }

  .swiper-button-prev{
    color: #FFBA08;
    margin-left: 20px;
  }

  .swiper-button-next{
    color: #FFBA08;
    margin-right: 20px;
  }

  
}
